* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faedb3;
}

header {
  display: inline;
}

nav {
  background-color: #eba83a;
  padding: 12px;
  position: fixed;
  width: 100%;
}

nav ul {
  padding: 0 20px;
  margin: 10px 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

.top-wrapper {
  background-image: url(./image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner {
  padding: 200px 0;
  margin: 0 auto;
}

.container {
  width: 100%;
  border: 1px solid black;
}

.dropdown {
  width: 20%;
  background-color: darkcyan;
  float: left;
  margin: 5px 3px;
}

.content {
  width: 53%;
  float: left;
  background-color: #fff;
  margin: 5px 3px;
}

.aside {
  width: 25%;
  background-color: gold;
  float: left;
  margin: 5px 3px;
}

.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

article h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

p {
  padding-top: 5px;
}

h3 {
  padding: 5px;
}