* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8d9;
}

header {
  display: inline;
}

nav {
  background-color: #eba83a;
  padding: 12px;
}

nav ul {
  padding: 0 20px;
  margin: 10px 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

.top-wrapper {
  background-image: url(./image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner {
  padding: 200px 0;
  margin: 0 auto;
}

.container {
  width: 100%;
  border: 1px solid black;
}

.dropdown {
  width: 20%;
  background-color: darkcyan;
  float: left;
}

.content {
  width: 55%;
  float: left;
  background-color: #fff8d9;
}

.aside {
  width: 25%;
  background-color: gold;
  float: left;
}
