body {
  background-color: #fff8d9;
  margin: 0;
}

header {
  display: inline;
}

nav {
  background-color: #eba83a;
  padding: 12px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

.top-wrapper {
  background-image:url(./image/banner.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  text-align: center;
}

.banner {
  padding: 190px 0;
  margin: 0 auto;
}